<div>

Directives module
<h3> NG IF demo </h3>
<div *ngIf="this.showName">Name : Pankaj Bhatt </div>
<button (click) = "this.toggleName()"> Show Name </button>

<h3> NG FOr Demo </h3>
  <ul>
    <li *ngFor="let name of names; let i = index ; ">{{i}}. {{name}}</li>
  </ul>

<h3> NG Switch Demo </h3>
   <select [(ngModel)]="selOption" >
     <option *ngFor="let opt of options">{{ opt}} </option>
   </select>

   <div [ngSwitch]="selOption">
     <div *ngSwitchCase="options[0]">Name is clicked </div>
     <div *ngSwitchCase="options[1]">Address is clicked </div>
     <div *ngSwitchCase="options[2]">City is clicked </div>
     <div *ngSwitchDefault>Select something </div>
   </div>

   <h3> Custom directive Demo </h3>
   <div hoverer="red"> Pankaj Bhatt </div>
</div>
