<div>
  <h3>forms component!</h3>
  <h2> Template form </h2>
  <div>
     <form #f="ngForm" novalidate>
        First Name ::  <input type="text" name="fName" ngModel #fName="ngModel" required> <br/>
        Last name :: <input type="text" name="lName" ngModel required> <br/>
        <br/>
        Form Valid : {{f.valid}} <br/>
        First Name Valid {{firstNameText.valid}}<br/>
        Form data : {{f.value | json}}
     </form>

  </div><hr/>
  <h2> Reactive Forms </h2>
  <div>
      `<form #form [formGroup]="formG"  novalidate>

          <label>First Name: <input formControlName="fNameR"/></label><br/>
          <label>Last Name: <input formControlName="lNameR"/></label> <br/>

          <input type="submit" value="Submit" [disabled]="!formG.valid" (click)="onSubmit(this.formG)"/>

      </form>

  </div>




</div>
