<div> <!--
<div class="container">
  {{title}}
   <ngb-tabset>
     <ngb-tab title="Simple">
       <ng-template ngbTabContent>
          Thisis the first tab
          Text box : <input #input type="text" [(ngModel)]='content' (input)='catchMe($event)'>
          <br/>
          UpperCase : {{upper}}
          LowerCase : {{lower}}
       </ng-template>
    </ngb-tab>
    <ngb-tab>
       <ng-template ngbTabTitle><b>Complex </b></ng-template>
       <ng-template ngbTabContent>
         This is second tab content
       </ng-template>
    </ngb-tab>
    <ngb-tab>
       <ng-template ngbTabTitle>Disabled</ng-template>
       <ng-template ngbTabContent disabled="true">
          This is disabled.
       </ng-template>
    </ngb-tab>
 </ngb-tabset>

</div> -->

<div class="container">
  Module Details

  <div style="text-align:center">
    <h1> Module Componentization </h1>

    <a [routerLink]="['sales']">Sales </a>
    <a [routerLink]="['support']">Support </a>

    <br/><br/>
    <router-outlet></router-outlet>
  </div>

  <h1> NG IF demo </h1>
  <div *ngIf="this.showName">Name : Pankaj Bhatt </div>
  <button (click) = "this.toggleName()"> Show Name </button>

</div>
</div>
