<div> <!--
<div class="container">
  {{title}}
   <ngb-tabset>
     <ngb-tab title="Simple">
       <ng-template ngbTabContent>
          Thisis the first tab
          Text box : <input #input type="text" [(ngModel)]='content' (input)='catchMe($event)'>
          <br/>
          UpperCase : {{upper}}
          LowerCase : {{lower}}
       </ng-template>
    </ngb-tab>
    <ngb-tab>
       <ng-template ngbTabTitle><b>Complex </b></ng-template>
       <ng-template ngbTabContent>
         This is second tab content
       </ng-template>
    </ngb-tab>
    <ngb-tab>
       <ng-template ngbTabTitle>Disabled</ng-template>
       <ng-template ngbTabContent disabled="true">
          This is disabled.
       </ng-template>
    </ngb-tab>
 </ngb-tabset>

</div> -->

<div class="container">
  Module Details

  <div style="text-align:center">
    <h1> Module Componentization </h1>

    <a [routerLink]="['sales']">Sales </a><br/>
    <a [routerLink]="['support']">Support </a> <br/>
    <a [routerLink]="['support',123]">Support With Routing </a> <br/>
    <a [routerLink]="['support','protected','route']">Protected Route </a> <br/>
    <a [routerLink]="['directives']">Directives </a><br/>
    <a [routerLink]="['component']">Custom Component </a><br/>
    <a [routerLink]="['interfaces']">Angular Interfaces </a><br/>
    <a [routerLink]="['ajaxhttp']">Ajax HTTP stuff </a><br/>
    <a [routerLink]="['forms']">Form Stuff  </a><br/>

    <br/><br/>
    <router-outlet></router-outlet>
  </div>



</div>
</div>
